* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: 14px / 1.7 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}

li {
	list-style: none;
}

a {text-decoration: none;}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

.container {
	min-width: 1280px;
}

header {
	height: 55px;
	background-color: #fff;
}

.logo {
	float: left;
	margin-left: 50px;
	margin-top: 15px;
	span {font-size: 21px;vertical-align: top;}
}

nav {
	float: right;
	margin-right: 50px;
	margin-top: 15px;
	li {float: left;&:nth-child(6) a {color: #E34E52;background: url("../images/user_icon.png") no-repeat 0 50%;margin-left: 10px;}}
	a {color: #999;padding: 1.3em;&:hover{color: #E34E52;border-bottom: 4px solid #E34E52;}	}
}

.banner {
	background-image: url("../images/banner_img.jpg");
	height: 690px;
	background-size: cover;
}

.banner_text {
	margin-top: 200px;
	margin-left: 100px;
	h3 {color: #fff;font-size: 4.5em;}
	p {color: #fff;font-size: 1.8em;}
	a {padding: 0.4em 3em;background: rgb(231, 79, 77);color: #fff;display: inline-block;margin-top: 50px;font-size: 2em;}
}

.section-cell {
	width: 100%;
	height: 250px;
	font-size: 0;
}

.cell {
	display: inline-block;
	width: 25%;
	margin: 30px 0;
	p{text-align: center;font-size: 13px;padding: 0 82px;border-right: 2px solid #999;height: 55px;opacity: .7;}
	img {display: block;margin: 0 auto;margin-bottom: 25px;}
}

.section-text {
	width: 100%;
	height: 360px;
	background: #EDEDED url('../images/big_logo.png') center 40% no-repeat;
	p {font-size: 4em;text-align: center;padding-top: 220px;opacity: .3;}
}

.section-search {
	width: 100%;
	height: 340px;
	background:url("../images/search_bac.jpg");
	background-size: cover;
	padding-top: 50px;
	text-align: center;
	p {color: #fff;text-align: center;}
	span {width: 30px;height: 10px;border-top: 2px solid #fff;display: inline-block;}
}

select {
	color:#7a7a7a;
	width: 200px;
	height: 35px;
	margin-top: 55px;
	margin-right: 20px;
	option {background-color: #ccc;}
}

.search {
	width: 200px;
	height: 35px;
	background-color: #BE4F48;
	color: #fff;
	border:none;
}

.pic {
	width: 100%;
	height: 500px;
	background-color: #F8F8F8;
	text-align: center;
}

.pic-post {
	display: inline-block;
	width: 20%;
	margin-top: 50px;
}

.pic-2 {
	width: 100%;
	height: 565px;

}

.pic-l {
	width: 850px;
	height: 565px;
	background:url("../images/pic07.jpg") no-repeat;
	background-size: cover;
	position: relative;
	color: #fff;
	padding-top: 200px;
	float: left;
	p {
		text-align: center;
		font-size: 20px;
		line-height: 1;
	}
	.tagline-caption {font-size: 3.5em;}
	.tagline-tiem {font-size: 6em;margin-bottom: 15px;}
}

.pic-r {
	float: right;
	width: 28%;
	height: 565px;
}
